src/config.local
src/config
src/custompios_path
src/image-variants/*.zip
src/nightly_build_scripts/index.html
src/nightly_build_scripts/node_modules
src/workspace-*
src/workspace

# Ignore src/image
src/image/**

# Ignore build.log
src/build.log
src/vagrant/*.log
src/vagrant/.vagrant
.vscode
.idea
build.log
.DS_Store
*~
.*.swp
