# Rat Rig V-core 3 Klipper Config
# Specifically made for the SKR Pro 1.2
# In case of another board / printer, you can overwrite this file 
# with your own config.

[include v-core-3/v-core-3.cfg]
[include v-core-3/mcu-detection.cfg]
[include v-core-3/steppers.cfg]
[include v-core-3/physical-endstops.cfg]
#[include v-core-3/sensorless-homing.cfg]
[include v-core-3/bmg.cfg]
[include v-core-3/v6.cfg]
[include v-core-3/macros.cfg]

# Endstop position
[stepper_x]
position_endstop: 0 # Adjust this to your setup

[stepper_y]
position_endstop: 0 # Adjust this to your setup

# Z-Probe
[include v-core-3/bltouch.cfg]
[bltouch]
z_offset: 0.0 # Adjust this to fit your setup

# Remove the # from your printer size below.
#[include v-core-3/300.cfg]
#[include v-core-3/400.cfg]
#[include v-core-3/500.cfg]

# Acceleration
# Check https://www.klipper3d.org/Resonance_Compensation.html for input shaper calibration.
[printer]
max_velocity: 300
max_accel: 1500
max_accel_to_decel: 750
max_z_velocity: 15
max_z_accel: 20

# Pressure Advance
# Check https://www.klipper3d.org/Pressure_Advance.html for pressure advance tuning.
[extruder]
pressure_advance: 0.06

# PID Tuning (Remember to run PID tuning before printing)
control: pid
pid_kp: 28.413
pid_ki: 1.334
pid_kd: 151.300

# BED PID Tuning (Remember to run PID tuning before printing)
[heater_bed]
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114

# Print macros. Call these from your slicer (custom g-code). 
# You can Modify these to your liking.
# Prusa Slicer Example:
# START_PRINT EXTRUDER_TEMP=[first_layer_temperature] BED_TEMP=[first_layer_bed_temperature]
# M190 S[first_layer_bed_temperature] ; Prevents prusaslicer from prepending this to the gcode.
# M109 S[first_layer_temperature] ; Prevents prusaslicer from prepending this to the gcode.
[gcode_macro START_PRINT]
gcode:
  SAVE_GCODE_STATE NAME=start_print_state
  G21 ;metric values
  G90 ;absolute positioning
  M82 ;set extruder to absolute mode
  G28 ;home
  M117 Heating...
  M190 S{params.BED_TEMP|default(printer.heater_bed.target, true) }; wait for bed to heat up
  M109 S150 ; Wait for extruder to reach 150 so an inductive probe (if present) is at a predictable temp. Also allows the bed heat to spread a little.
  Z_TILT_ADJUST ;Adjust bed tilt
  G28 ;Home again as Z will have changed after tilt adjustment and bed heating.
  BED_MESH_CALIBRATE ; Calibrate bed mesh
  G0 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_maximum.y} Z50 F6000 ; Park in the back and wait for extruder
  M109 S{params.EXTRUDER_TEMP|default(printer.extruder.target, true) }; wait for extruder to heat up
  M117 Printing...
  RESTORE_GCODE_STATE NAME=start_print_state

# The end_print macro is also called from CANCEL_PRINT.
[gcode_macro END_PRINT]
gcode:
  SAVE_GCODE_STATE NAME=end_print_state
  M104 S0 ;extruder heater off
  M140 S0 ;heated bed heater off
  G91 ;relative positioning
  G1 Z10 E-2 F3600  ;retract the filament a bit before lifting the nozzle.
  G1 E-2 F3600 ;retract filament even more
  G90 ;absolute positioning
  G0 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_maximum.y} ; Park in the back
  M84 ;steppers off
  M107 ; part cooling fan off
  M117 Done.
  RESTORE_GCODE_STATE NAME=end_print_state
