name: "Linter: shellcheck"
on:
  push:
    branches:
      - "**"
    paths:
      - "config/**"
      - "src/**"
      - "!src/version"
      # Add workflow itself for now
      - ".github/workflows/ShellCheck.yml"

  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches:
      - "**"
    paths:
      - "config/**"
      - "src/**"
      - "!src/version"

  workflow_dispatch:

jobs:
  lint_modules:
    name: Shellcheck (modules)
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v3

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        env:
          SHELLCHECK_OPTS: -ax -s bash
        with:
          scandir: "./src"
          additional_files: "config start_chroot_script end_chroot_script"
          ignore_paths: "./version ./image"
          format: tty

      - name: Failure Summary
        if: failure()
        run: |
          echo "## Shellcheck failed! :no_entry:" >> $GITHUB_STEP_SUMMARY
          echo "_Please check Annotations for details ..._ :point_up:" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "These Errors have to be corrected, before the changes can be accepted :exclamation:" >> $GITHUB_STEP_SUMMARY

      - name: Success Summary
        if: success()
        run: |
          echo "## Shellcheck succeeded :tada:" >> $GITHUB_STEP_SUMMARY
          echo "Well done .. :white_check_mark:" >> $GITHUB_STEP_SUMMARY
